
  
  #commentbox::-webkit-scrollbar {
      background-color: white;
    width: 10px;
  }
  
  /* Track */
  body::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  body::-webkit-scrollbar-thumb {
    background: black; 
  }
  
  /* Handle on hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
body{
    transition: all 5s;

}
.border div:nth-child(odd){
    background: lightgrey;
}
.border div:nth-child(even){
    background: lightblue;
}


#info{
    background: rgb(19, 18, 18);
    margin: 0 0;
    
    color: white;
}
.jumbotron{
    
    background: url(https://images.unsplash.com/photo-1523474438810-b04a2480633c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
    color:#ffffff
}
.jumbotron .container{
    padding: 20% 0;
}
.thumbnail .border{
    padding:20px;
}

.noneDisplay{
    display:none
}
.navbar{
    background-color: #e3f2fd;
    
}
#homeContent{
    
    padding:25% 0;
}
.messagebox{
    padding: 5px;
    margin:20px;

    
}
#content{
    text-align: center;
    padding-top: 15%;
}
.messagebox p{
    
    margin: 0;
}
em{
    font-size:12px;
    color:brown;
}

#sendername{
    font-size:17px;
    margin-right: 20px;
    font-weight: 100;
    
}

#text{
    padding-top: 0;
    margin-top:0;
    margin-left: 10px;
    font-family: 'Jost', sans-serif;
    
}

#heading{
    font-weight: 500;
    background:#343a40;
    color:white

}
.list-group-item{
    background:lightyellow;
}

